html, body {
    margin: 0;
    color: white;
    height: 100%;
    padding: 0;
}
h1 {
    font-size: 50px;
}
h2{
    text-align: center;
}
input {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.829);
    border: 1px white solid;
    color: white;
    padding: 5px;
    outline: none;
}
input:focus{
    box-shadow: 0 0 10px white;
}
textarea{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.829);
    border: 1px white solid;
    color: white;
    padding: 5px;
    outline: none;
}
textarea:focus{
    box-shadow: 0 0 10px white;
}
.wrapper{
    background: url('../img/phon.jpg') fixed no-repeat;
    min-height: 100%;
}

.header{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 13vh;
}
.list{
    list-style-type: none;
    display: flex;
    width: 1200px;
    justify-content: space-around;
    align-items: center;
    height: 65%;
    font-size: 25px;
}

.list__link{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}
.list__link:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 150px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__inner{
    background-color: rgba(0, 0, 0, 0.856);
    border: 1px white solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.content__text{
    font-size: 20px;
    width: 70%;
}
.content__img{
    width: 80%;
    display: block;
    margin: 20px auto;
    transform: translateY(-50%);
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}
.contact__form{
    display: flex;
    flex-direction: column;
}
.form__text{
    font-size: 20px;
}
.form__title{
    font-size: 30px;
}
.form__subtitle{
    font-size: 25px;
    text-align: center;
}
.submit{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.829);
    border: 1px white solid;
    color: white;
    padding: 5px;
    outline: none;
    cursor: pointer;
}
.submit:hover{
    box-shadow: 0 0 5px white;
}
